.CartIcon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  bottom: 12px;
  right: 8px;

  @media screen and (max-width: 425px) {
    &:active {
      color: white;
    }

    &:hover {
      color: white;
    }
  }

  @media screen and (max-width: 992px) and (min-width: 425px) {
    right: -50px;
  }
  @media screen and (max-width: 425px) and (min-width: 320px) {
    left: 5px;
    top: 5px;
  }

  @media screen and (max-width: 600px) and (min-width: 425px) {
    right: -33px;
    bottom: -4px;
  }

  .fa-shopping-cart {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    font-size: 9px;
    font-weight: bold;
    top: 9px;
    left: 24px;
    color: black;

    @media screen and (max-width: 992px) {
      left: 17px;
    }

    @media screen and (max-width: 600px) and (min-width: 425px) {
      top: -7px;
    }

    @media screen and (max-width: 425px) and (min-width: 320px) {
      font-size: 8px;
      top: -8px;
    }
  }
}
